body {
  width: 100px;
  height: 200px;
  background-color: #1a1a1a;
}

button {
  padding: 10px;
  background-color: yellow;
  display: inline-block;
}

h3 {
  color: white;
  text-align: center;
}

p {
 color: white;
}